---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---
<h1>Hello!</h1>
<p>I'm a philosopher and critical disability theorist. I was an <a href="https://research.ie/">Irish Research Council Government of Ireland Postgraduate Scholar</a> in <a href="https://www.ucd.ie/philosophy">University College Dublin School of Philosophy</a>. I use a variety of approaches—including feminist and continental philosophy, and actor-network theory—to understand different aspects of disability.</p>

<p>I'm particularly interested in the relationships and tensions between everyday understandings of disability and humanness: that is, different ways disability is understood and represented as a lack of, or deviation from, what is fully or properly human. I'm also focused on ethical approaches to disability that avoid appeals—manifest or latent—to overarching notions of humanness.</p>

<p>This website used to be a place to share conference and workshop papers. I have archived some of these that have been published. You can find out about those in my <a href="cv">curriculum vitae</a>. There are still some old presentation texts in the <a href="blog">posts</a> section. Some of these contain ideas that I was developing at the time, but do not wholeheartedly subscribe to any longer.</p>

You can find me on <a href="https://bsky.app/profile/jonathanmitchell.me/">Bluesky</a>, Ma href="https://www.instagram.com/uncouthregions/">Instagram</a>, <a href="https://orcid.org/0000-0003-4107-7453/">ORCiD</a>, and <a href="https://www.researchgate.net/profile/Jonathan-Mitchell-4/">ResearchGate</a>.

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h2>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h2>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<!--<p>You can read {{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} in the <a href="blog.njk">posts section</a>.</p>-->
<p>You can read more in the <a href="blog.njk">posts section</a>.</p>

{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}